.signUpContainer {
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup {
    margin: 2.5rem 0;
    height: fit-content;
    width: 55rem;
    background-color: #fff;
    box-shadow: 0px 30px 36px #557da526;
    border-radius: 20px;
    opacity: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    & > h2 {
      font-size: 2.2rem;
      color: var(--bg-color);
    }

    .signupselectContainer {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      span {
        font-size: 1.4rem;
        color: var(--bg-color);
      }

      div {
        display: flex;
        gap: 2rem;

        button {
          all: unset;
          font-size: 1.4rem;
          color: var(--bg-color);
          padding: 1.5rem 3rem;
          background: #e8e8e833 0% 0% no-repeat padding-box;
          border: 1px solid #c6c6c6;
          border-radius: 0.5rem;
          opacity: 1;
          cursor: pointer;
        }

        .selected {
          color: #fff;
          background-color: var(--primary-color);
        }
      }
    }

    .signupInputContainer,
    .signupPasswordContainer,
    .signupNameContainer,
    .skillsContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      label {
        font-size: 1.4rem;
        color: var(--bg-color);
      }

      input {
        height: 4.6rem;
        padding: 2rem;
        font-size: 1.4rem;
        border-radius: 5px;
        outline: none;
        border: 1px solid #c6c6c6;

        &:focus {
          border: 1px solid #43afff;
        }
      }

      span {
        width: 100%;
        color: red;
        text-align: end;
      }
    }

    .signupPasswordContainer {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;

      div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;

        input {
          width: 100%;
        }
      }
    }

    .signupButton {
      margin-top: 2rem;
      width: 100%;
      text-align: center;

      button {
        all: unset;
        font-size: 1.6rem;
        color: #fff;
        background-color: var(--primary-color);
        padding: 1.4rem 5rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }

    a {
      color: var(--primary-color);
      font-size: 1.4rem;
      text-decoration: none;
    }
    .toLoginLink {
      width: 100%;
      text-align: center;
      margin-top: 4.4rem;

      span {
        font-size: 1.4rem;
        color: var(--bg-color);
      }
    }
  }
}
