:root {
  --primary-color: #43afff;
  --secondary-color: #43afff33;
  --light-color: #edf6ff;
  --dark-color: #1a253c;
  --light-bg-color: #4d618e;
  --bg-color: #303f60;
  --dark-white: #557da526;
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
.app {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(180deg, #303f60 40%, #edf6ff 40%);
  position: relative;
  overflow-x: hidden;
}
